<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/globals.css" />
    <link rel="stylesheet" href="../static/css/audio1.css" />
    <title>我的录音</title>
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="component">
          <a href="./home_page">
            <img class="image" src="../static/icon/返回.svg" alt="返回" />
          </a>
        </div>
        <div class="development-message">
          该功能正在加紧开发中...
        </div>
      </div>
    </div>
  </body>
</html>
